.app {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

.wrapper {
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
}
