# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 3cbf32d5b0983baf16513c70cb92378b1a91baf32853180a4ede5b3c7f63d2e3dca7b736ec358a03accceb27b0c3b9b6335be8d48f53973d478a936c91981fa8

test:
  secret_key_base: 61388f60b1355cd50be6a39100e317782a42d7244a7732412cb3d3d23f42caffebebace6c63af5d3d7c034b894532ac05bd1df44eee802a44918828fef334e91

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
